extends layout
block content
  .main-content
    .profile-container
      img(calss='profile-pic', src=user.cover_url)
      p  #{user[0].userName} :שם
      p   עיר מגורים: #{user[0].city}
      .credit(style='')
        img(src='/images/gold-coin.jpg', style='max-height:4vh; border-radius:100px;')
        p  credit: 25  

      .user-messages
        h2 :בקשות שהתקבלו
        table.profile-history-table
            thead
              tr
                th שם הספר
                th שם הפונה
                th מייל הפונה
                th מספר טלפון נייד 
                th תאריך הפניה
                th השאל לפונה (סמן רק אם דיברתם)
                th סרב לבקשה
            tbody
            each r in ask
                tr
                  td #{r.book_name }
                  td #{r.userName }
                  td 
                    a(href="mailto:#{r.user_asking}") #{r.user_asking}
                  td 
                    a(href="tel:+#{r.phoneNumber}")  #{r.phoneNumber} 
                  td #{r.time}
                  td 
                    form(action="/bookPage/loan/add", method="post" ) 
                      button.highlight-button(type="submit", name="") הושאל
                      input(type="hidden", name="book", value = r)
                  td 
                    form(action='/bookPage/bookRequests/refuse', method="post" ) 
                      button.highlight-button-red(type="submit", name="") סרב
                      input(type="hidden", name="book", value = r)

      .user-messages
                  h2 :בקשות שנשלחו
                  table.profile-history-table
                      thead
                        tr
                          th שם הספר
                          th בעל הספר
                          th תאריך הפניה
                          th ביטול 
                      tbody
                      each m in myRequests
                          tr
                            td #{m.book_name }
                            td #{m.userName }
                            td #{m.time}
                            td 
                              form(action="/bookPage/bookRequests/cancle", method="post" ) 
                                button.highlight-button-red(type="submit", name="") בטל בקשה
                                input(type="hidden", name="myReq", value = m)
                            

      .user-history
        h2 :&#x5D4;&#x5E4;&#x5E2;&#x5D5;&#x5DC;&#x5D5;&#x5EA; &#x5E9;&#x5DC;&#x5D9;
        table.profile-history-table
            thead
              tr
                th שם הספר
                th הפעולה שלי
                th תאריך השאלה
                th תאריך החזרה 
                th הוחזר 
        
            tbody
            each u in user
                tr
                  td #{u.book_name }
                  if(u.email = u.owner_email)
                    td(style = 'background-color:green;') השאלתי 
                  else
                    td(style = 'background-color:red;') שאלתי
                  td #{u.start_date}
                  td #{u.end_date}
                  if(u.end_date = null)
                    td 
                      form(action="/bookPage/loan/finish", method="post" ) 
                        button.highlight-button(type="submit", name="") סיים השאלה
                        input(type="hidden", name="finish", value = u)
                  else 
                    td הוחזר
                
      