extends layout 
block content
  main.main-content
    form.search.bar(action="/searchResult" method = "get" enctype="multipart/form-data")
      input#search(name='query' type='search' placeholder='חיפוש')
      input(type='submit'  value='חפש')  
    h2 אלה התוצאות שמצאנו עבור: #{old_query}
    
    ul 
      each result in results  
        
        li.resultBlock
          .image-content
            .card-image
              img.card-img(src=result.cover_url)
              
              if(result.status)
                span.isAvailable זמין
              else 
                span.isAvailable מושאל

          .result-discription
            h4 #{result.book_name}
            p #{result.author}
            p #{result.discription}
              
          .result-btn
          
            
            form(action = "/bookPage" , method = "post")
                  input(type = "hidden", name="book_name" ,value = result.book_name)
                  input(type = "hidden", name="owner_email" ,value = result.owner_email)
                  button.highlight-button( type="submit") הזמן
            
            form(action = "/bookPage" , method = "get")
                  input(type = "hidden", name="book_name" ,value = result.book_name)
                  input(type = "hidden", name="owner_email" ,value = result.owner_email)
                  button(type = "submit" ) פרטים נוספים           